*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
/docs/node_modules/
/docs/package-lock.json
/docs/Manifest.toml

/deps/
/examples

/src/pulse-shape-integration-bak.jl
/src/types-functions.jl
/src/calculation_types.jl
/src/saddle-point-integration.jl
/src/example.jl.outdated

/.vscode/
/.JuliaFormatter.toml