*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
/docs/node_modules/
/docs/package-lock.json
/docs/Manifest.toml

/test/Manifest.toml

/deps/*
!/deps/*.dat

/examples/Saurez_2015.jl

/extras/


/src/pulse-shape-integration-bak.jl
/src/calculation_types.jl
/src/saddle-point-integration.jl
/src/example.jl.outdated

/.vscode/
/.JuliaFormatter.toml

/.gitignore

# Local data sets to keep out of Git
/examples/data_danish/
